<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <ul class="sidebar navbar-nav" id="nav">

        <li class="nav-item  ">
            <a class="nav-link" th:href="@{/admin/events}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Events</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a class="nav-link" th:href="@{/admin/create-event}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Create Event</span>
            </a>
        </li>
        <li class="nav-item" id="">
            <a class="nav-link" th:href="@{/admin/profile}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Profile</span>
            </a>
        </li>


    </ul>

